.twoElementInRow{
    display: flex;
    justify-content: space-between;
	  margin:10px;
}

/* Container All*/
#userAnalysisInfo {
    display: flex;
    flex-direction: column;
    visibility: hidden; 
}
/* First Row Show User Info */
#userProfile {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/    
}
#userDetailsInfo,
#userTweets {
    display: flex;
    flex: 1 1 50%;
    margin: 15px 10px;
}
/* User Profile Info Shown in the middle */
#userDetailsInfo {
    width: 500px;
}

#userImage {
    flex-basis: 20px;
    margin-right: 4%;
}
/* User Tweets */
#userTweets {
    align-content: space-between;
    flex-direction: column;
}

.blockHeader{
    padding: 5px;
    font-size: 18px;
    flex-basis: 10%;
    background: #9ad4ff;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;	
}
.blockContent {
    flex-wrap: wrap;
}

.blockTweet {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding: 3px 10px;
}

#userTweetsHeader {
}

#userTweetsContent  {
    flex-basis: 87%;
    /*border: 1px solid #0084b4;*/
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: auto;
    text-align:right;
}

#profileAnalysisHeader{
    background-color:#3EAAE9; 
    border-radius:4%;
    margin-top:5px;
}
.tweetHeader {
    display: flex;
    justify-content: space-between;
}

.getUserInfo {
    display: flex;
    align-items: flex-start;
    margin-left:15px;
}

#userId {
    width: auto;
}

#getUser {
    margin-top: 25px;
}
div[data-for-btn="getUser"] .btn-loading-indicator{
	margin-top:18px;
}
